<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
	<body>
		<ui:composition>
			<h:form>
				<div>
					<h:link value="Home" outcome="/system/home" rendered="#{not empty request.remoteUser}" /><h:panelGroup rendered="#{not empty request.remoteUser}"> - Logged in as <h:outputText value="#{userController.username}" /> - </h:panelGroup><h:link value="Login" outcome="/login" rendered="#{empty request.remoteUser}" /><h:outputText value=" - " rendered="#{empty request.remoteUser}" /><h:link value="Register" outcome="/register" rendered="#{empty request.remoteUser}" /><h:panelGroup rendered="#{not empty request.remoteUser}"><h:outputText value=" - " rendered="#{empty request.remoteUser}" /></h:panelGroup><h:commandLink value="Logout" action="#{userController.logout}" rendered="#{not empty request.remoteUser}" />
					<h1>Student Housing Tracker</h1>
				</div>
			</h:form>
		</ui:composition>	
	</body>
</html>