<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert>
	<h:body>
	    <ui:insert name="header" >
            <ui:include src="/templates/header.xhtml" />
         </ui:insert> 
		
		<h:body>
			<div class="form">
				<h2>Change Password</h2>
				<h:form>
					<h:inputHidden id="username" value="#{userController.username}" />
					<table class="loginForm">
						<tr>
							<td><h:outputText value="Password " /></td>
							<td><h:inputSecret id="password" value="#{userController.password}" required="true" requiredMessage=" Please enter a password." validatorMessage=" Password must be at least 8 characters." /><h:message for="password"></h:message></td>
						</tr>
						<tr>
							<td></td>
							<td><h:commandButton id="submit" action="#{userController.changePassword}" value="Change Password"></h:commandButton><h:message for="submit" title="hello"></h:message></td>
						</tr>
					</table>
				</h:form>
			</div>
		</h:body>
		
	</h:body>
</html>