<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">
	
	<ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert> 
	
	<h:body>
	    <ui:insert name="header" >
            <ui:include src="/templates/header.xhtml" />
        </ui:insert> 
		
		<h:dataTable styleClass="roomView" var="roomVar" value="#{roomController.getRoomByID(param['id'])}" rendered="#{not empty param['id']}" >
            <h:column>
                <f:facet name="header">Room ID</f:facet>
                <h:outputText value="#{roomVar.id}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Room Occupant</f:facet>
                <h:outputText value="#{roomVar.fullname}"/>
				<h:outputText rendered="#{roomVar.fullname == null}" value="empty" styleClass="empty" />
            </h:column>
        </h:dataTable>
		<h:panelGroup rendered="#{empty param['id']}">Room not found, or no ID provided.</h:panelGroup>
		<br/><br/>
		<h:link value="Return to listing" outcome="viewroomlist" />
		
	</h:body>

</html>

