<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:insert name="head" >
        <ui:include src="/templates/head.xhtml" />
    </ui:insert>
	<h:body>
		<ui:insert name="header" >
            <ui:include src="/templates/header.xhtml" />
		</ui:insert> 

		<div class="form">
			<h2>Login to the System</h2>
			<h:form>
				<table class="loginForm">
					<tr>
						<td><h:outputText value="Username " /></td>
						<td><h:inputText id="username" value="#{userController.username}" required="true" requiredMessage=" Please enter a username." autocomplete="off" validatorMessage=" Usernames must be at least 3 characters." /><h:message for="username" errorClass="requiredMessage"></h:message></td>
					</tr>
					<tr>
						<td><h:outputText value="Password " /></td>
						<td><h:inputSecret id="password" value="#{userController.password}" required="true" requiredMessage=" Please enter a password." autocomplete="off" validatorMessage=" Password must be at least 8 characters." /><h:message for="password"></h:message></td>
					</tr>
					<tr>
						<td></td>
						<td><h:commandButton id="submit" action="#{userController.login}" value="Login"></h:commandButton><h:message for="submit" title="hello"></h:message></td>
					</tr>
				</table>
				<br/>
				<div id="hint">
					<p>You may log in with any of the following credentials:</p>
					<ul>
						<li>john : password</li>
						<li>tom : password</li>
						<li>sally : password</li>
					</ul>
				</div>
			</h:form>
		</div>

	</h:body>
</html>